@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
  -webkit-font-smoothing: antialiased;
}


/* layout/divisions */
body, html {
  margin: 0;
  padding: 0;
}

.body-text-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  width: 80%;
  max-width: 800px;
}

.plot-container { /* div for plots */
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex; 
  justify-content: center; 
}

#ts, #radial { /* time series plot div */
  background-color: #F3F8FE;
  max-width: 1000px; 
  width: 100%;
  justify-content: center; 
  padding-top: 20px;
  padding-bottom: 20px;
}

#ts svg, #radial svg {
  display: block;
  width: 100%; 
  max-width: 100%; 
  height: auto; 
}

@media (min-width: 1000px) {
  #ts, #radial {
    border-radius: 10px; 
  }
}

button {
  margin-bottom: 1em;
  cursor: pointer;
}

text.ind {
  font-weight: 600;
}

/* filter buttons/dropdown */
#region-filters, #indicator-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter {
  background-color: #D9E6FA; 
  border: none;
  color: black;
  padding: 1em 1.25em;
  margin: 0.5em; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10pt;
  font-weight: 500;
  border-radius: 4px;
  white-space: nowrap;
} 
.filter:hover, button.active {
  background-color: #285391;
  color: white;
}

.dropdown-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  cursor: pointer;
  user-select: none;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12pt;
}
.dropdown-selected {
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}
.dropdown-options {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  margin-top: 0px;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  word-wrap: break-word;
}
.dropdown-options div {
  padding: 10px;
  text-align: left;
}
.hidden {
  display: none;
}


/* text */
h2, text, div, p, button {
  font-family: Montserrat;
  text-rendering: optimizeLegibility;
  line-height: 1.25em;
  color: #37424a;
  fill: #37424a;
}

h2 {
  font-size: 14pt;
  color: black;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
}

p {
  font-size: 13pt;
  margin-bottom: 1em;
}

p.panel-ind {
  font-size: 12pt;
}

p.ind-category {
  font-weight: 600;
  fill: #37424a;
}

#h2-end {
  margin-bottom: 2em;
}

/* Visualisation styling */

.vis-title {
  font-size: 20pt;
  font-weight: 800;
  margin-bottom: 0.25em;
  color: black;
}

.vis-subtitle {
  font-size: 10pt;
  color: black;
}

#radial-title, #radial-subtitle {
  text-align: right;
  float: right;
}

#radial-subtitle {
  width: 80%;
}

.axis text {
  color: #8495A1;
  fill: #8495A1;
}

.axis line, .axis path {
  color: #B8C4CC;
  fill: #B8C4CC;
}

.axis .domain {
  stroke-width: 2;
}
.ts-ind-label {
  font-size: 9pt;
  font-weight: 600;
  fill: #282D30;
}

.ts-country-label {
  font-size: 7pt;
  fill: #282D30;
}

.ts-yref-small {
  font-size: 7pt;
  line-height: 0em;
  fill: #282D30;
}

.ts-yref-large {
  font-size: 11pt;
  font-weight: 800;
  fill: #282D30;
}

#radial-ind-label{
  color: #282D30;
}

svg path{
  shape-rendering: crispEdges;
}