@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html {
  -webkit-font-smoothing: antialiased;
}


/* layout/divisions */
body, html {
  margin: 0;
  padding: 0;
}

#banner {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 5em;
  background-color: #285391;
  z-index: -1;
  font-size: 42pt;
  overflow: hidden;
}

#banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center 80%;
  filter: brightness(75%);
}

#footer {
  position: relative;
  background-color: #F3F8FE;
  color: black;
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; 
}

#footer-text {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
  /* flex: 1 1 auto; */
}

.body-text-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-left: 0px;
  padding-right: 0px;
  width: 80%;
  max-width: 800px;
}

#ind-list {
  padding-left: 50px;
}

.plot-container { /* div for plots */
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex; 
  justify-content: center; 
}

#ts, #radial { /* time series plot div */
  background-color: #F3F8FE;
  max-width: 1000px; 
  width: 100%;
  justify-content: center; 
  padding-top: 20px;
  padding-bottom: 20px;
}

#ts svg, #radial svg {
  display: block;
  width: 100%; 
  max-width: 100%; 
  height: auto; 
}

@media (min-width: 1000px) {
  #ts, #radial {
    border-radius: 10px; 
  }
}

button {
  margin-bottom: 1em;
  cursor: pointer;
}

text.ind {
  font-weight: 600;
}

/* accordion */

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 12pt;
  padding-right: 40px; /* Add space for the arrow */
  font-weight: 600;

}

.div-panel {
  padding: 0 18px;
  background-color: #F3F8FE;
  display: none;
  overflow: hidden;
  margin-top: -1em;
  margin-bottom: 1em;
}

/* filter buttons/dropdown */
#region-filters, #indicator-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter {
  background-color: #D9E6FA; 
  border: none;
  color: black;
  padding: 1em 1.25em;
  margin: 0.5em; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10pt;
  font-weight: 500;
  border-radius: 4px;
  white-space: nowrap;
} 
.filter:hover, button.active {
  background-color: #285391;
  color: white;
}

.dropdown-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  cursor: pointer;
  user-select: none;
  margin: 0 auto;
  font-weight: 500;
  font-size: 12pt;
}
.dropdown-selected {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
}
.dropdown-options {
  position: absolute;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  width: 100%;
  margin-top: 0px;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  word-wrap: break-word;
}
.dropdown-options div {
  padding: 10px;
  text-align: left;
}
.hidden {
  display: none;
}


/* text */
h1, h2, text, div, p, button {
  font-family: Montserrat;
  text-rendering: optimizeLegibility;
  line-height: 1.25em;
}

h1 {
  margin-left: 50px;
  margin-right: 30px;
  text-shadow: 2px 2px 7px black; 
  position: absolute;
  padding: 0;
  margin-bottom: 25px;
  bottom: 0;
  font-size: 32px;
  color: white;
}

h2 {
  font-size: 14pt;
  fill: black;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 5px;
  text-align: center;
}

p {
  font-size: 13pt;
  margin-bottom: 1em;
}

p.panel-ind {
  font-size: 12pt;
}

p.ind-category {
  font-weight: 600;
}

#footer-text p {
  margin-bottom: 0em;
  margin-left: 20px;
  font-size: 10pt;
  max-width: 700px;
}

#h2-end {
  margin-bottom: 2em;
}

/* links */

a {
  color: black;
  padding: 2px;
  text-decoration: none;
  box-shadow: inset 0px -3px 0px 0 #8cb5f0;
  transition: box-shadow 0.2s ease-out;
  font-weight: 500;
}
a:hover, a:focus {
  box-shadow: inset 0 -22px 0 0 #8cb5f0;
  transition-timing-function: ease-in;
}

/* footer logo */

#footer img {
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

/* Visualisation styling */

.vis-title {
  font-size: 20pt;
  font-weight: 800;
  margin-bottom: 0.25em;
}

.vis-subtitle {
  font-size: 10pt;
}

.axis text, .axis line, .axis path {
  color: #818589;
}
.ts-ind-label {
  font-size: 9pt;
  font-weight: 600;
}

.ts-country-label {
  font-size: 7pt;
}

.ts-yref-small {
  font-size: 7pt;
  line-height: 0em;
}

.ts-yref-large {
  font-size: 11pt;
  font-weight: 800;
}

svg path{
  shape-rendering: crispEdges;
}



/* hide labels if screen width is narrow */

/*
@media (max-width: 600px) {
  .g-ts-label {
    display: none !important;
  }
  #ts {
    transform: scale(1.2);
    transform-origin: top left;
    overflow: visible;
    height: auto;
  } 

}
*/